.row
  .span1= sub_clause.number
  .span2= sub_clause.target
  - if sub_clause.value_options.count > 0
    - space = 5 - sub_clause.value_options.count
    - if space > 0
      - for i in 0..4
        - if sub_clause.value_options[i]
          = render partial: "value_option", locals: {:value_option => sub_clause.value_options[i]}
        - else
          .span1 &nbsp;
    - else
      - sub_clause.value_options.each do |value_option|
        = render partial: "value_option", locals: {:value_option => value_option}
  - else
    - for i in 1..5
      .span1 &nbsp;
  .span2= sub_clause.description