= semantic_form_for [:admin, @document_group] do |f|
  = f.inputs "Document" do
    = f.input :name
    = f.input :pic, :include_blank => false
    = f.input :status, :collection => DocumentGroup.status_collection, :include_blank => false
  = f.buttons